* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header__container {
  max-width: 1700px;
  padding: 0 16px;
  margin: 0 auto;
}

header {
  padding: 16px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__wrapper {
  display: flex;
  align-items: center;
}

.search__wrapper {
  display: flex;
  align-items: center;
  


}

.header__right {
  display: flex;
  align-items: center;
}

.language {
  display: flex;
  align-items: center;
  gap: 8px;
}
.input1{
    width: 389.31817626953125px;
height: 50px;
top: 26.29px;
left: 447.76px;

opacity: 1;
border-width: 0.2px;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
}
.input2{
    
height: 50px;
top: 26.29px;
left: 447.76px;
width: 75px;
opacity: 1;
border-width: 0.2px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
}
.select1{
  border: 1px solid #fff;

}
