* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header__container {
  max-width: 1700px;
  padding: 0 16px;
  margin: 0 auto;
}

header {
  padding: 16px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__wrapper {
  display: flex;
  align-items: center;
}

.search__wrapper {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

.language {
  display: flex;
  align-items: center;
}
