<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
 
    <div class="footer_container">
<footer>
    <div class="footer_wrapper">
        <div class="footer_frst">
            <img src="../../media/icons/bg log.svg" alt="" style="width: 103px;height: 95px;">
            <div><ul>
                <li><a href="*" style="color: #97404C;" class="fashionholic">FASHIONHOLIC</a></li>
                <li><a href="*" style="color: #000000;" class="same_titles">For yout daily outfit </a></li>
            </ul>
                
            </div>
        </div>
        <div class="footer_scnd">
            <ul class="padding">
                <li><a href="*" style="color: #000;" class="same_titles">SERVICE</a></li>
                <li><a href="*" class="little_same-titles">Products</a></li>
                <li><a href="*" class="little_same-titles">Contact us</a></li>
            </ul>
        </div>

        <div class="footer_thrd">
            <ul>
                <li><a href="*" style="color: #000;" class="same_titles">SUPPORT</a></li>
                <li><a href="*" class="little_same-titles">About fashionholic.com</a></li>
                <li><a href="*" class="little_same-titles">Privacy policy & terms</a></li>
            </ul>
        </div>
         <div class="footer_frth">
            <ul>
                <li><a href="*" style="color: #000;" class="same_titles">FOLLOW US ON</a></li>
                <li><a href="https://www.instagram.com/oblokulov_17/" class="little_same-titles">Instagram</a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100074437287650&locale=ru_RU" class="little_same-titles">Facebook</a></li>
            </ul>
        </div>
    </div>
</footer>
    </div>
    
</body>
</html>